<p id="notice"><%= notice %></p>

<h1>Shopping List</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Essential</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @lists.each do |l| %>
      <tr>
        <td><%= l.product %></td>
        <td><%= l.qty %></td>
        <td><%= l.is_essential %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New List', new_list_path %><br/>
<%=	 link_to 'Show all', lists_path(show_all: true) %>
